/* Hero */

.hero-post{
    background-image: url(../images/article-image-hero.png);
    background-size: cover;
    color: white;
    padding: 5em 1.25em 1.25em;
    display: flex;
    flex-direction: column;
}

.hero-text{
    padding: 5px 0;
}