/* Hero */

.hero-post{
    background-image: url(../images/article-image-hero.png);
    background-size: cover;
    color: white;
    padding: 5em 1.25em 1.25em;
    display: flex;
    flex-direction: column;
}

.hero-text{
    padding: 5px 0;
}

@media (min-width: 1024px ){

    main{
        grid-template-rows: 1fr 2fr;
    }

    .hero-post{
        justify-content: end;
        padding: 3.25em;
    }

    .hero-title{
        font-size: 2.5rem;
    }

    .hero-text{
        max-width: 700px;
    }

    .article:nth-child(n+4){
        display: grid;
    }
}

@media (min-width: 1280px ){
    .article-listing{
        grid-template-columns: repeat(3, 374px);
        padding: 3.25em;
        grid-auto-flow: dense;
    } 
}