html, 
body,
ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

a,button{
    cursor: pointer;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Source Sans 3", Arial, sans-serif;
    box-sizing: border-box;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 1.25em;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    filter: drop-shadow(#0e0e0e4b 0 0.25rem 2px);
    font-weight: bold;
}

header ul{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
}

main{
    display: grid;
}

/* Hero */

.hero-post{
    background-image: url(../images/article-image-hero.png);
    background-size: cover;
    color: white;
    padding: 5em 1.25em 1.25em;
    display: flex;
    flex-direction: column;
}

.hero-date{
    text-transform: uppercase;
}

.hero-title{
    line-height: 1.2;
}

.hero-text{
    font-size: 1.125rem;
    padding: 5px 0;
}

/* Article listing */

.article-listing{
    padding: 2.125em 1.25em;
    display: grid;
    grid-template-columns: 374px;
    justify-content: center;
    gap: 2.5em;
}

.article:nth-child(n+4){
    display: none;
}

.show-all .article:nth-child(n+4){
    display: grid;
}

.article{
    display: grid;
    grid-template-rows: 232px 0.5fr 1fr 2fr;
    gap: 0.5em;
}

.article-image {
    background-size: cover;
    border-radius: 5px;
}

.article-date{
    text-transform: uppercase;
    font-size: 0.9rem;
}

.article-description{
    color: #505050;
    line-height: 1.25;
}

#more-btn{
    border: none;
    background-color: inherit;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1rem;
}

/* Footer */

footer{
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
    padding: 2.5em 1em;
}

footer h3{
    color: #ECECEC;
    
}

footer p {
    color: #D7D7D7;
}

@media (min-width: 1024px ){
    header{
        padding: 1.25em 3.25em;
    }

    .logo{
        font-size: 1.25rem;
    }

    main{
        grid-template-rows: 1fr 2fr;
    }

    .hero-post{
        justify-content: end;
        padding: 3.25em;
    }

    .hero-title{
        font-size: 2.5rem;
    }

    .hero-text{
        max-width: 700px;
    }

    .article-listing{
        padding: 3.25em;
        grid-template-columns: repeat(auto-fit, 374px);
        grid-auto-flow: dense;
    }

    .article:nth-child(n+4){
        display: grid;
    }

    #more-btn{
        display: none;
    }
}

@media (min-width: 1280px ){
    .article-listing{
        grid-template-columns: repeat(3, 374px);
        padding: 3.25em;
        grid-auto-flow: dense;
    } 
}